body {
    text-align: center;
}

video {
    width: 0px;
    height: 0px;
}

table {
    width: auto;
    margin: auto;
}

tr, td {
    border: 0px;
    text-align: center; 
}

body {
    background-image: url('1398312.jpg');

}
footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }